<!DOCTYPE html>
    <html>
        <head>
            <title>Foodies</title>
            <link rel="stylesheet"    href= "/static/css/main.css" />
            <link rel="shortcut icon" href= "static/css/images/fav.ico">
        </head>

        <header>            
            <li>
            <a class = "case-click" href= "/"> Accueil</a>
          </li>
        </header>
        
        <body>
            <form method="POST">
                <label for="composant">Selectionner votre filtre</label><br>
                <input name="composant" id="composant" list="composants">
                <input name="order" id="order" value = "croissant" list ="orders">
                <center><input type="submit" value="Filtre" /></center>
               </form>
               
               <datalist id="composants">
                    {% for col in columns %}
                    <option>{{ col }}</option>
                    {% endfor %}
               </datalist>
               
               <datalist id="orders">
                
                <option> croissant</option>
                <option> décroissant</option>
                
                </datalist>

            
            <div> 
                {{filtre}}
          </br>
            <table border="1" cellpadding="3" cellspacing="1">
                {% for col in columns %}
                    <td>{{ col }}</td>
                {% endfor %}

                {% for row in data %}
                    <tr>
                    {% for d in row %}
                        <td>{{ d }}</td>
                    {% endfor %}
                    </tr>
                {% endfor %}
            </table>
  
            </div>
  
        </body>

        <footer>               
                <li> <a class = "case-click" href= "/about"> A propos</a> </li>
        </footer>

    </html>