<!DOCTYPE html>
    <html>
        <head>
            <title>Foodies</title>
            <link rel="stylesheet"    href= "/static/css/main.css" />
            <link rel="shortcut icon" href= "static/css/images/fav.ico">
        </head>

        <header>             
            <li>
           <a class = "case-click" href= "/"> Accueil</a>
          </li>
        </header>
        
        <body>
            <form method="POST" enctype="multipart/form-data">
                Veuillez selectionner votre photo :</br>
                <input type="file" id = "images_users" name="image_users" accept="image/*" multiple>
                <center><input type="submit" value="Analyse" /></center>
          </form>
  
          <div> 
              {{pred}}
          </br>
          <table border="1" cellpadding="3" cellspacing="1">
            {% for col in columns %}
                <td>{{ col }}</td>
            {% endfor %}

            {% for row in data %}
                <tr>
                {% for d in row %}
                    <td>{{ d }}</td>
                {% endfor %}
                </tr>
            {% endfor %}
        </table>
  
            </div>
  
        </body>

        <footer>               
                <li> <a class = "case-click" href= "/about"> A propos</a> </li>
        </footer>

    </html>