<!DOCTYPE html>
    <html>
        <head>
            <title>Foodies</title>
            <link rel="stylesheet"    href= "/static/css/main.css" />
            <link rel="shortcut icon" href= "static/css/images/fav.ico">
        </head>

        <header>         
            <li>
            <a class = "case-click" href= "/"> Accueil</a>
          </li>
        </header>
        
        <body>
        
                <form method="POST" enctype="multipart/form-data">
                    Mail            : <input type = "text" name = "adresse_mail" /> <br>
                    Mot de passe    : <input type = "password" name= "mot_de_passe" /> <br>
                    <input type = "submit" value = "Connection">
                </form>
        
                {{error}}
        </body>

        <footer>               
                <li> <a class = "case-click" href= "/about"> A propos</a> </li>
        </footer>

    </html>