<!DOCTYPE html>
    <html>
        <head>
            <title>Foodies</title>
            <link rel="stylesheet"    href= "/static/css/main.css" />
            <link rel="shortcut icon" href= "static/css/images/fav.ico">
        </head>

        <header>             
            <li>
            <a class = "case-click" href= "/"> Accueil</a>
          </li>
        </header>
        
        <body>
        
      <div> 
          Bienvenu, {{pseudo}}
      </div>

        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </body>

        <footer>              
                <li> <a class = "case-click" href= "/about"> A propos</a> </li>
        </footer>

    </html>